@charset "UTF-8";
body{
    margin: 0px;
    min-width: 100vh;
}
header{
    background-color: black;
    color: white;
    min-height: 250px;
    text-align: center;
    margin: 0px;
}
header > h1{
    font-size: 3em;
    padding-top: 70px;
    margin: 0px;
}
header > p{
    font-size: 1.2em;
    margin-top: 5px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    font-size: 1.7em;
    margin-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.205);
    width: 350px;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: rgb(58, 58, 58);
    color: white;
}
